*.o
*.s
logs
samples
old
*.pyc
__pycache__
*.bin
generated
payload.h
stage1.h
intermediate
thunk
src/runtime/stage2/runtime.h
priv
*.bzimage
*.img
kernels.lst
/tools/vmlinux-to-elf
/tools/easylkb
/tools/klude2
/tmp
output.map
generated.lds
